// @media (prefers-color-scheme: dark) {
//     :root{
//         --bg: rgb(35, 35, 35);
//         --txt: rgb(252, 252, 252);
//     }
// }

// @media (prefers-color-scheme: default) {
// }
:root{
    --bg: rgb(252, 252, 252);
    --txt: rgb(35, 35, 35);
}

$red: rgb(147, 12, 12);
$yellow: rgb(232, 202, 84);
$orange: rgb(240, 133, 10);
$green: rgb(41, 128, 34);
$teal: rgb(0, 195, 152);
$blue: rgb(22, 51, 125);
$purple: rgb(95, 40, 184);
$pink: rgb(184, 40, 174);



